@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat&display=swap');
@media (max-width: 500px){
    #container {
        width: 350px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: url(img/Capacete.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto, auto;
    }
    
    #logo {
        width: 250px;
        height: 100px;
        margin: auto;
        background-image: url(img/LogoCVA.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto, auto;
    }

    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        color: rgb(237, 102, 55); /* background: #C12906;    */
        padding: 15px 0 15px 0;
        text-align: center;
    }
}
@media (min-width: 501px){
    #container {
        width: 500px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: url(img/Capacete.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto, auto;
      }
      
      #logo {
        width: 500px;
        height: 200px;
        text-align: center;
        margin: auto;
        background-image: url(img/LogoCVA.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: auto, auto;
    }
    
    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 27px;
        color: rgb(237, 102, 55); /* background: #C12906;    */
        padding: 20px 0 20px 0;
        text-align: center;
    }
}
@media (min-height: 960px){
    #container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        background-image: url(img/Capacete.svg);
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: auto, auto;
      }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #323232;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 18px;
    font-weight: bold;
    line-height:30px;
    color: #FFF;
}

#container p {
    margin-top: 20px;
    text-align: center;
}

.link{
    color: #18A0FB;
    text-decoration: none;
    font-size: 20px;
}

.mb-5{margin-bottom: 10px;}
.mt-15{margin-top: 15px;}
.pt-15{padding-top: 15px;}
.ml-15{margin-left: 15px;}
.text-sm{font-size: 11px;}

.color{
    color: #ED6637;
    font-size: 22px;
}
.color1{color: #a7a7a7;}

/* --------------- form --------------- */

.form {
    width: 350px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}

.form input, .form textarea{
    width: 300px;
    border: 1px solid #9994;
    background-color: rgba(255, 255 , 255, 10%);
    border-radius: 15px;
    min-height: 50px;
    font-size: 15px;
    padding: 10px 25px;
    font-family: 'Montserrat', sans-serif;
}

.form input.btn{
    width: 186px;
    border: 1px solid #9994;
    border-radius: 30px;
    min-height: 50px;
    font-size: 12px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    background: #157efb; /*Blue #157efb*/
    padding: 12px 30px;
    margin-top: 15px;
}

.form input.btn:focus{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    outline: 0; 
    background: #ED6637; /* Red #C12906*/
}

.form input.btn:hover{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    outline: 0; 
    background: #C12906; /* Orange #ED6637*/
}

.left{
    width: 180px;
    display: inline-flex;
}
